/*HEADER*/
header {
  background-color: #030f59;
  position: sticky;
  top: 0;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  z-index: 1; }
  header #logo {
    max-width: 200px;
    padding: 8px; }
  header #menu {
    max-width: 20px; }
  header #carrito {
    max-width: 30px;
    margin: 15px; }
  header .navbar-collapse {
    flex-grow: 0; }
  header .nav-link {
    color: #f2f2f2;
    margin: 10px; }
  header .nav-link:hover {
    color: #f24405;
    transition: 0.7s; }
  header .navbar-toggler {
    border-color: transparent; }
  header .navbar-toggler:focus {
    box-shadow: 0 0 0 0rem; }
  header .form-control {
    font-size: 0.8rem; }

/*CONTACTO*/
h2 {
  text-align: center; }

#formulario {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto; }

#btn-form {
  background-color: #f24405;
  border-color: transparent;
  width: 100%; }

.btn-form:hover {
  color: #fff;
  background-color: #f1836a;
  border-color: transparent;
  transition: 0.5s; }

.swal2-popup {
  background: #2c3d73;
  border-radius: 10px;
  color: #f2f2f2; }
  .swal2-popup .swal2-styled.swal2-confirm {
    background-color: #f24405; }

/*INICIO*/
.carousel-caption {
  position: absolute;
  top: 15%; }
  .carousel-caption h1 {
    font-size: 2.2rem;
    font-weight: 600; }
  .carousel-caption p {
    font-size: 1.1rem; }

/*FOOTER*/
footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #dfdfdf;
  justify-content: center; }
  footer #conteinerFooter {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px; }
    footer #conteinerFooter .col-2 {
      min-width: 230px;
      padding: 30px,10px,30px,10px; }
    footer #conteinerFooter #pagos {
      max-width: 230px;
      width: 100%; }
    footer #conteinerFooter .col-4 {
      max-width: 350px;
      right: 0; }
    footer #conteinerFooter .py-5 {
      padding-bottom: 0px; }
    footer #conteinerFooter .icono {
      width: 35px; }
    footer #conteinerFooter .icono:hover {
      opacity: 0.7;
      transition: 0.5s; }
    footer #conteinerFooter #btn-subscripcion {
      background-color: #f24405;
      border-color: transparent; }
    footer #conteinerFooter #btn-subscripcion:hover {
      background-color: #f1836a;
      border-color: transparent;
      transition: 0.5s; }

/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif; }

body {
  background-color: #f2f2f2; }

.titulos {
  font-size: 2.7rem;
  font-weight: 600;
  text-align: center;
  padding: 20px 0px 20px 0px;
  color: #030f59; }

.containerGuitarras {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 25px auto 50px auto; }
  .containerGuitarras .categoria {
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: #030f59; }
  .containerGuitarras #productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .containerGuitarras #productos .card {
      max-width: 300px;
      padding: 20px;
      margin: 15px;
      text-align: center;
      border-radius: 10px; }
      .containerGuitarras #productos .card h3 {
        font-weight: 600; }
      .containerGuitarras #productos .card h5 {
        font-weight: 600;
        margin-bottom: 0.8rem; }
      .containerGuitarras #productos .card p {
        margin-bottom: 0.4rem; }
      .containerGuitarras #productos .card .precioOferta {
        color: #07a101;
        font-weight: 700; }
      .containerGuitarras #productos .card button {
        border-radius: 5px;
        border-color: transparent;
        background-color: #030f59;
        color: #ffffff;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 2px 8px 2px 8px; }
      .containerGuitarras #productos .card button:hover {
        border-color: transparent;
        background-color: #f24405;
        color: #ffffff;
        transition: 0.7s; }
    .containerGuitarras #productos .guitarras {
      max-width: 250px; }
