/*HEADER*/
header {
  background-color: #030f59;
  position: sticky;
  top: 0;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  z-index: 1000; }
  header .navbar-brand {
    margin-right: 0px; }
  header #logo {
    max-width: 200px;
    padding: 8px; }
  header #menu {
    max-width: 20px; }
  header #carrito {
    max-width: 30px;
    margin: 15px 0px 15px 15px; }
  header .navbar-collapse {
    flex-grow: 0; }
  header .nav-link {
    color: #f2f2f2;
    margin: 10px; }
  header .nav-link:hover {
    color: #f24405;
    transition: 0.7s; }
  header .navbar-toggler {
    border-color: transparent; }
  header .navbar-toggler:focus {
    box-shadow: 0 0 0 0rem; }
  header .form-control {
    font-size: 0.8rem; }
  header .btn-outline-success {
    color: #030f59;
    border-color: transparent; }
  header .btn-outline-success:hover {
    color: #030f59;
    border-color: transparent; }
  header #botonBusqueda {
    color: #030f59;
    border-color: transparent; }
  header #botonBusqueda:hover {
    background-color: #030f59; }

/*INICIO*/
#inicio {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  color: #f2f2f2; }
  #inicio #contenedorvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    #inicio #contenedorvideo video {
      height: 100vh;
      width: 100vh;
      min-height: 100%;
      min-width: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -100; }
  #inicio #nombre {
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    max-width: 600px;
    padding: 10px; }
  #inicio #descripcion {
    font-weight: 400;
    font-size: 30px;
    padding: 0; }
  #inicio #flecha {
    position: absolute;
    bottom: 95px;
    margin-left: -20px; }

/*FOOTER*/
footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #dfdfdf;
  justify-content: center;
  bottom: 0; }
  footer #conteinerFooter {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px; }
    footer #conteinerFooter .row {
      margin-left: auto;
      margin-right: auto;
      justify-content: center; }
    footer #conteinerFooter .col-2 {
      min-width: 230px;
      padding: 30px,10px,30px,10px;
      margin-top: 15px; }
    footer #conteinerFooter #pagos {
      max-width: 230px;
      width: 100%; }
    footer #conteinerFooter .col-4 {
      max-width: 350px;
      width: 100%;
      margin-right: 0;
      margin-top: 15px; }
    footer #conteinerFooter .icono {
      width: 35px; }
    footer #conteinerFooter .icono:hover {
      opacity: 0.7;
      transition: 0.5s; }
    footer #conteinerFooter #btn-subscripcion {
      background-color: #f24405;
      border-color: transparent; }
    footer #conteinerFooter #btn-subscripcion:hover {
      background-color: #f1836a;
      border-color: transparent;
      transition: 0.5s; }
    footer #conteinerFooter .offset-1 {
      margin-left: 0; }

.swal2-popup {
  background: #2c3d73;
  border-radius: 10px;
  color: #f2f2f2; }
  .swal2-popup .swal2-styled.swal2-confirm {
    background-color: #f24405; }

#boton-carrito {
  border: none;
  color: #dfdfdf;
  font-size: 14px;
  background-color: #f24405;
  border-radius: 50%;
  padding: 3px 10px;
  transition: all .3s;
  margin-left: 2px; }

#boton-carrito:hover {
  cursor: pointer;
  color: #dfdfdf;
  background-color: #f1836a; }

#boton-carrito:focus {
  outline: none; }

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.producto {
  max-width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3); }

.precioProducto {
  font-size: 21px;
  font-weight: 700;
  text-align: end;
  margin-top: 20px; }

.boton-agregar {
  background-color: #f24405;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 20px; }

.boton-agregar:hover {
  cursor: pointer;
  background-color: #f1836a;
  transition: 0.5s; }

.botones-carrito {
  margin-top: 15px; }

.boton-agregar:focus {
  outline: none; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }

.modal-active {
  opacity: 1;
  visibility: visible; }

.modal-carrito {
  position: relative;
  background-color: white;
  width: 550px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-radius: 8px; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: #030f59;
  font-weight: 800;
  padding-bottom: 5px;
  text-align: center; }

.modal-carrito p {
  margin-bottom: 0; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: #030f59;
  border: none;
  background-color: white; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioProducto {
  padding-top: 10px; }

.productoEnCarrito {
  border-left: 5px solid #2c3d73;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.productoEnCarrito:hover {
  border-left: 5px solid #030f59; }

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px; }

.boton-eliminar:hover {
  cursor: pointer; }

.boton-eliminar:focus {
  outline: none; }

.guitarraMiniatura {
  max-width: 20px;
  width: 100%;
  height: 100%; }

.borrarGuitarra {
  max-width: 18px; }

.cerrarModal {
  max-width: 25px; }

.botones-carrito {
  display: flex;
  justify-content: flex-end; }

.element.style {
  display: list-item; }

.carrusel {
  display: flex;
  align-items: center; }
  .carrusel .carrusel-items {
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 30px 0px; }
    .carrusel .carrusel-items .carrusel-item {
      min-width: 300px;
      max-width: 300px;
      height: 200px;
      cursor: pointer; }
      .carrusel .carrusel-items .carrusel-item img {
        width: 100%;
        margin: auto;
        padding-right: 35px;
        padding-left: 35px; }
      .carrusel .carrusel-items .carrusel-item img:hover {
        transform: scale(1.2);
        transition: 0.5s; }

/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif; }

body {
  background-color: #f2f2f2; }

.titulos {
  font-size: 2.4rem;
  font-weight: 800;
  text-align: center;
  padding: 20px 0px 20px 0px;
  color: #030f59; }

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .container #marca {
    max-width: 350px;
    min-width: 300px;
    width: 100%;
    display: block;
    margin: 0px auto 25px auto; }
  .container .parrafo {
    min-width: 300px;
    font-size: 1.2rem;
    color: #030f59;
    text-align: justify; }

.containerGuitarras {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 25px auto 50px auto; }
  .containerGuitarras .categoria {
    font-size: 2.4rem;
    font-weight: 800;
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: #030f59; }
  .containerGuitarras .formBusqueda {
    display: flex;
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 25px 20px 25px; }
    .containerGuitarras .formBusqueda #filtroGuitarra {
      border-radius: 100px; }
  .containerGuitarras .filtro {
    display: none; }
  .containerGuitarras #formCompra {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto; }
  .containerGuitarras #contenedorOfertas, .containerGuitarras #contenedorElectricas, .containerGuitarras #contenedorAcusticas, .containerGuitarras #contenedorCriollas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .containerGuitarras #contenedorOfertas .card, .containerGuitarras #contenedorElectricas .card, .containerGuitarras #contenedorAcusticas .card, .containerGuitarras #contenedorCriollas .card {
      max-width: 300px;
      padding: 20px;
      margin: 15px;
      text-align: center;
      border-radius: 10px; }
      .containerGuitarras #contenedorOfertas .card h3, .containerGuitarras #contenedorElectricas .card h3, .containerGuitarras #contenedorAcusticas .card h3, .containerGuitarras #contenedorCriollas .card h3 {
        font-weight: 600; }
      .containerGuitarras #contenedorOfertas .card h5, .containerGuitarras #contenedorElectricas .card h5, .containerGuitarras #contenedorAcusticas .card h5, .containerGuitarras #contenedorCriollas .card h5 {
        font-weight: 600;
        margin-bottom: 0.8rem; }
      .containerGuitarras #contenedorOfertas .card p, .containerGuitarras #contenedorElectricas .card p, .containerGuitarras #contenedorAcusticas .card p, .containerGuitarras #contenedorCriollas .card p {
        margin-bottom: 0.4rem; }
      .containerGuitarras #contenedorOfertas .card .precio, .containerGuitarras #contenedorElectricas .card .precio, .containerGuitarras #contenedorAcusticas .card .precio, .containerGuitarras #contenedorCriollas .card .precio {
        font-weight: 700;
        font-size: 1.3rem; }
      .containerGuitarras #contenedorOfertas .card .precioOferta, .containerGuitarras #contenedorElectricas .card .precioOferta, .containerGuitarras #contenedorAcusticas .card .precioOferta, .containerGuitarras #contenedorCriollas .card .precioOferta {
        color: #07a101;
        font-weight: 700;
        font-size: 1.3rem; }
      .containerGuitarras #contenedorOfertas .card .precioOriginal, .containerGuitarras #contenedorElectricas .card .precioOriginal, .containerGuitarras #contenedorAcusticas .card .precioOriginal, .containerGuitarras #contenedorCriollas .card .precioOriginal {
        text-decoration: line-through;
        color: #e90d0d;
        font-weight: 600; }
      .containerGuitarras #contenedorOfertas .card button, .containerGuitarras #contenedorElectricas .card button, .containerGuitarras #contenedorAcusticas .card button, .containerGuitarras #contenedorCriollas .card button {
        display: flex;
        border-radius: 5px;
        border-color: transparent;
        background-color: #030f59;
        color: #ffffff;
        max-width: 150px;
        margin-left: auto;
        margin-right: auto;
        padding: 2px 8px 2px 8px;
        align-items: center; }
        .containerGuitarras #contenedorOfertas .card button .carritoBoton, .containerGuitarras #contenedorElectricas .card button .carritoBoton, .containerGuitarras #contenedorAcusticas .card button .carritoBoton, .containerGuitarras #contenedorCriollas .card button .carritoBoton {
          max-width: 20px;
          margin-right: 8px; }
      .containerGuitarras #contenedorOfertas .card button:hover, .containerGuitarras #contenedorElectricas .card button:hover, .containerGuitarras #contenedorAcusticas .card button:hover, .containerGuitarras #contenedorCriollas .card button:hover {
        border-color: transparent;
        background-color: #f24405;
        color: #ffffff;
        transition: 0.7s; }
    .containerGuitarras #contenedorOfertas .guitarras, .containerGuitarras #contenedorElectricas .guitarras, .containerGuitarras #contenedorAcusticas .guitarras, .containerGuitarras #contenedorCriollas .guitarras {
      max-width: 250px; }
