/*HEADER*/
header {
  background-color: #030f59;
  position: sticky;
  top: 0;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  z-index: 1; }
  header #logo {
    max-width: 200px;
    padding: 8px; }
  header #menu {
    max-width: 20px; }
  header #carrito {
    max-width: 30px;
    margin: 15px; }
  header .navbar-collapse {
    flex-grow: 0; }
  header .nav-link {
    color: #f2f2f2;
    margin: 10px; }
  header .nav-link:hover {
    color: #f24405;
    transition: 0.7s; }
  header .navbar-toggler {
    border-color: transparent; }
  header .navbar-toggler:focus {
    box-shadow: 0 0 0 0rem; }
  header .form-control {
    font-size: 0.8rem; }

/*INICIO*/
.carousel-caption {
  position: absolute;
  top: 15%; }
  .carousel-caption h1 {
    font-size: 2.2rem;
    font-weight: 600; }
  .carousel-caption p {
    font-size: 1.1rem; }

/*FOOTER*/
footer {
  margin-left: auto;
  margin-right: auto;
  background-color: #dfdfdf;
  justify-content: center; }
  footer #conteinerFooter {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-right: 20px;
    padding-left: 20px; }
    footer #conteinerFooter .col-2 {
      min-width: 230px;
      padding: 30px,10px,30px,10px; }
    footer #conteinerFooter #pagos {
      max-width: 230px;
      width: 100%; }
    footer #conteinerFooter .col-4 {
      max-width: 350px;
      right: 0; }
    footer #conteinerFooter .icono {
      width: 35px; }
    footer #conteinerFooter .icono:hover {
      opacity: 0.7;
      transition: 0.5s; }
    footer #conteinerFooter #btn-subscripcion {
      background-color: #f24405;
      border-color: transparent; }
    footer #conteinerFooter #btn-subscripcion:hover {
      background-color: #f1836a;
      border-color: transparent;
      transition: 0.5s; }

.swal2-popup {
  background: #2c3d73;
  border-radius: 10px;
  color: #f2f2f2; }
  .swal2-popup .swal2-styled.swal2-confirm {
    background-color: #f24405; }

#boton-carrito {
  border: none;
  color: royalblue;
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s; }

#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: royalblue; }

#boton-carrito:focus {
  outline: none; }

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.producto {
  max-width: 250px;
  padding: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3); }

.precioProducto {
  font-weight: 700; }

.boton-agregar {
  background-color: royalblue;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none; }

.boton-agregar:hover {
  cursor: pointer; }

.boton-agregar:focus {
  outline: none; }

.modal-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }

.modal-active {
  opacity: 1;
  visibility: visible; }

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s; }

.modal-active .modal-carrito {
  margin-top: 0; }

.modal-carrito h3 {
  color: royalblue;
  padding-bottom: 5px; }

.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: white; }

.modal-carrito #carritoCerrar:hover {
  cursor: pointer; }

.modal-carrito #carritoCerrar:focus {
  outline: none; }

.modal-carrito .precioProducto {
  padding-top: 10px; }

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between; }

.productoEnCarrito:hover {
  border-left: 5px solid royalblue; }

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px; }

.boton-eliminar:hover {
  cursor: pointer; }

.boton-eliminar:focus {
  outline: none; }

/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif; }

body {
  background-color: #f2f2f2; }

.titulos {
  font-size: 2.7rem;
  font-weight: 600;
  text-align: center;
  padding: 20px 0px 20px 0px;
  color: #030f59; }

.containerGuitarras {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin: 25px auto 50px auto; }
  .containerGuitarras .categoria {
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: #030f59; }
  .containerGuitarras #contenedorOfertas, .containerGuitarras #contenedorElectricas, .containerGuitarras #contenedorAcusticas, .containerGuitarras #contenedorCriollas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .containerGuitarras #contenedorOfertas .card, .containerGuitarras #contenedorElectricas .card, .containerGuitarras #contenedorAcusticas .card, .containerGuitarras #contenedorCriollas .card {
      max-width: 300px;
      padding: 20px;
      margin: 15px;
      text-align: center;
      border-radius: 10px; }
      .containerGuitarras #contenedorOfertas .card h3, .containerGuitarras #contenedorElectricas .card h3, .containerGuitarras #contenedorAcusticas .card h3, .containerGuitarras #contenedorCriollas .card h3 {
        font-weight: 600; }
      .containerGuitarras #contenedorOfertas .card h5, .containerGuitarras #contenedorElectricas .card h5, .containerGuitarras #contenedorAcusticas .card h5, .containerGuitarras #contenedorCriollas .card h5 {
        font-weight: 600;
        margin-bottom: 0.8rem; }
      .containerGuitarras #contenedorOfertas .card p, .containerGuitarras #contenedorElectricas .card p, .containerGuitarras #contenedorAcusticas .card p, .containerGuitarras #contenedorCriollas .card p {
        margin-bottom: 0.4rem; }
      .containerGuitarras #contenedorOfertas .card .precio, .containerGuitarras #contenedorElectricas .card .precio, .containerGuitarras #contenedorAcusticas .card .precio, .containerGuitarras #contenedorCriollas .card .precio {
        font-weight: 700;
        font-size: 1.3rem; }
      .containerGuitarras #contenedorOfertas .card .precioOferta, .containerGuitarras #contenedorElectricas .card .precioOferta, .containerGuitarras #contenedorAcusticas .card .precioOferta, .containerGuitarras #contenedorCriollas .card .precioOferta {
        color: #07a101;
        font-weight: 700;
        font-size: 1.3rem; }
      .containerGuitarras #contenedorOfertas .card .precioOriginal, .containerGuitarras #contenedorElectricas .card .precioOriginal, .containerGuitarras #contenedorAcusticas .card .precioOriginal, .containerGuitarras #contenedorCriollas .card .precioOriginal {
        text-decoration: line-through;
        color: #e90d0d;
        font-weight: 600; }
      .containerGuitarras #contenedorOfertas .card button, .containerGuitarras #contenedorElectricas .card button, .containerGuitarras #contenedorAcusticas .card button, .containerGuitarras #contenedorCriollas .card button {
        border-radius: 5px;
        border-color: transparent;
        background-color: #030f59;
        color: #ffffff;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 2px 8px 2px 8px; }
      .containerGuitarras #contenedorOfertas .card button:hover, .containerGuitarras #contenedorElectricas .card button:hover, .containerGuitarras #contenedorAcusticas .card button:hover, .containerGuitarras #contenedorCriollas .card button:hover {
        border-color: transparent;
        background-color: #f24405;
        color: #ffffff;
        transition: 0.7s; }
    .containerGuitarras #contenedorOfertas .guitarras, .containerGuitarras #contenedorElectricas .guitarras, .containerGuitarras #contenedorAcusticas .guitarras, .containerGuitarras #contenedorCriollas .guitarras {
      max-width: 250px; }
