/*FOOTER*/

footer{
    margin-left: auto;
    margin-right: auto;
    background-color: #dfdfdf;
    justify-content: center;

    #conteinerFooter{
        margin-left: auto;
        margin-right: auto;
        max-width: 1200px;
        padding-right: 20px;
        padding-left: 20px;

        .row{
            margin-left: auto;
            margin-right: auto;
            justify-content: center;
        }

        .col-2 {
            min-width: 230px;
            padding: 30px,10px,30px,10px;
            margin-top: 15px;
        }

        #pagos{
            max-width: 230px;
            width: 100%;
        }

        .col-4{
            max-width: 350px;
            width: 100%;
            margin-right: 0;
            margin-top: 15px;
        }

        .icono{
            width: 35px;
        }

        .icono:hover{
            opacity: 0.7;
            transition: 0.5s;
        }

        #btn-subscripcion{
            background-color: #f24405;
            border-color: transparent;
        }

        #btn-subscripcion:hover {
            background-color: #f1836a;
            border-color: transparent;
            transition: 0.5s;
        }

        .offset-1 {
            margin-left: 0;
        }
    }    
}

.swal2-popup{
    background: #2c3d73;
    border-radius: 10px;
    color: #f2f2f2;

    .swal2-styled.swal2-confirm{
        background-color: #f24405;
    }
}