@import "./header";
@import "./responsive";
@import "./contacto";
@import "./inicio";
@import "./footer";

/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: #f2f2f2;
}

.titulos{
    font-size: 2.7rem;
    font-weight: 600;
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: #030f59;
}

.containerGuitarras{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 25px auto 50px auto;

    .categoria{
        font-size: 2.7rem;
        font-weight: 600;
        text-align: center;
        padding: 20px 0px 20px 0px;
        color: #030f59;
    }

    #productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card{
            max-width: 300px;
            padding: 20px;
            margin:15px;
            text-align: center;
            border-radius: 10px;
        
            h3{
                font-weight: 600;
            }
        
            h5{
                font-weight: 600;
                margin-bottom: 0.8rem
            }
        
            p{
                margin-bottom: 0.4rem;
            }

            .precioOferta{
                color:#07a101;
                font-weight: 700;
            }
        
            button{
                border-radius: 5px;
                border-color: transparent;
                background-color: #030f59;
                color: #ffffff;
                max-width: 100px;
                margin-left: auto;
                margin-right: auto;
                padding: 2px 8px 2px 8px;
            }
        
            button:hover{
                border-color: transparent;
                background-color: #f24405;
                color: #ffffff;
                transition:0.7s;
            }
        }

        .guitarras{
            max-width: 250px;
        }
    }
}