@import "./header";
@import "./inicio";
@import "./footer";
@import "./modal";
@import "./carrusel";

/*GENERAL*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Titillium Web', sans-serif;
}

body{
    background-color: #f2f2f2;
}

.titulos{
    font-size: 2.4rem;
    font-weight: 800;
    text-align: center;
    padding: 20px 0px 20px 0px;
    color: #030f59;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    #marca{
        max-width: 350px;
        min-width: 300px;
        width: 100%;
        display: block;
        margin: 0px auto 25px auto;
    }
    
    .parrafo{
        min-width: 300px;
        font-size: 1.2rem;
        color: #030f59;
        text-align: justify;
    }
}

.containerGuitarras{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin: 25px auto 50px auto;

    .categoria{
        font-size: 2.4rem;
        font-weight: 800;
        text-align: center;
        padding: 20px 0px 20px 0px;
        color: #030f59;
    }

    .formBusqueda{
        display: flex;
        width: 100%;
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px 25px 20px 25px;

        #filtroGuitarra{
            border-radius: 100px;
        }
    }

    .filtro{
        display: none;
    }

    #formCompra{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    #contenedorOfertas, #contenedorElectricas, #contenedorAcusticas, #contenedorCriollas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card{
            max-width: 300px;
            padding: 20px;
            margin:15px;
            text-align: center;
            border-radius: 10px;
        
            h3{
                font-weight: 600;
            }
        
            h5{
                font-weight: 600;
                margin-bottom: 0.8rem
            }
        
            p{
                margin-bottom: 0.4rem;
            }

            .precio{
                font-weight: 700;
                font-size: 1.3rem;
            }

            .precioOferta{
                color:#07a101;
                font-weight: 700;
                font-size: 1.3rem;
            }

            .precioOriginal{
                text-decoration: line-through;
                color: #e90d0d;
                font-weight: 600;
            }
        
            button{
                display: flex;
                border-radius: 5px;
                border-color: transparent;
                background-color: #030f59;
                color: #ffffff;
                max-width: 150px;
                margin-left: auto;
                margin-right: auto;
                padding: 2px 8px 2px 8px;
                align-items: center;

                .carritoBoton{
                    max-width: 20px;
                    margin-right: 8px;
                }
            }
        
            button:hover{
                border-color: transparent;
                background-color: #f24405;
                color: #ffffff;
                transition:0.7s;
            }
        }

        .guitarras{
            max-width: 250px;
        }
    }
}